{% load core %}
<div class="row">
    <div class="col-lg-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Pk</th>
            <th>Name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for object in object_list %}
          <tr>
            <td>{{object.pk}}</td>
            <td><a href="{% get_url 'detail' object  %}">{{object.name}}</a></td>
            <td>
                {% include 'partials/action_buttons.html' with obj=object %}
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="3" style="text-align:center;">No data</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% include 'pagination.html' %}