{% extends "base.html" %}
{% load core %}


{% block content %}
<div class="row py-2">
    <div class="col-12">
        <form method="post" enctype='multipart/form-data' novalidate>{% csrf_token %}
            <div class="card m-2 py-2">
              <div class="card-body">
                {{form.errors}}
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="info" aria-selected="true">Info</button>
                  </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="info" role="tabpanel" aria-labelledby="info-tab" tabindex="0">
                        <div class="row">
                            <div class="col-6">
                              <div class="form-group">
                                {{ form.account_type.label_tag }}
                                {{form.account_type}}
                                {% if form.account_type.errors %}
                                <div class="invalid-feedback">
                                  {{form.account_type.errors}}
                                </div>
                                {%endif%}
                                {% if form.account_type.help_text %}
                                  <small class="form-text text-muted">{{ form.account_type.help_text }}</small>
                                {% endif %}
                              </div>
                            </div>
                            <div class="col-6">
                              <div class="form-group">
                                {{ form.project.label_tag }}
                                {{form.project}}
                                {% if form.project.errors %}
                                <div class="invalid-feedback">
                                  {{form.project.errors}}
                                </div>
                                {%endif%}
                                {% if form.project.help_text %}
                                  <small class="form-text text-muted">{{ form.project.help_text }}</small>
                                {% endif %}
                              </div>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-6">
                            <div class="form-group">
                              {{ form.username.label_tag }}
                              {{form.username}}
                              {% if form.username.errors %}
                              <div class="invalid-feedback">
                                {{form.username.errors}}
                              </div>
                              {%endif%}
                              {% if form.username.help_text %}
                                <small class="form-text text-muted">{{ form.username.help_text }}</small>
                              {% endif %}
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="form-group">
                              {{ form.password.label_tag }}
                              {{form.password}}
                              {% if form.password.errors %}
                              <div class="invalid-feedback">
                                {{form.password.errors}}
                              </div>
                              {%endif%}
                              {% if form.password.help_text %}
                                <small class="form-text text-muted">{{ form.password.help_text }}</small>
                              {% endif %}
                            </div>
                          </div>
                      </div>
                      <div class="row">
                        <div class="col-6">
                          <div class="form-group">
                            {{ form.comments.label_tag }}
                            {{form.comments}}
                            {% if form.comments.errors %}
                            <div class="invalid-feedback">
                              {{form.comments.errors}}
                            </div>
                            {%endif%}
                            {% if form.comments.help_text %}
                              <small class="form-text text-muted">{{ form.comments.help_text }}</small>
                            {% endif %}
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="form-group">
                            {{ form.url.label_tag }}
                            {{form.url}}
                            {% if form.url.errors %}
                            <div class="invalid-feedback">
                              {{form.url.errors}}
                            </div>
                            {%endif%}
                            {% if form.url.help_text %}
                              <small class="form-text text-muted">{{ form.url.help_text }}</small>
                            {% endif %}
                          </div>
                        </div>

                      </div>
                      <div class="row">
                        <div class="col">
                          {{ form.active.label_tag }}
                          {{form.active}}
                          {% if form.active.errors %}
                          <div class="invalid-feedback">
                            {{form.active.errors}}
                          </div>
                          {%endif%}
                          {% if form.active.help_text %}
                            <small class="form-text text-muted">{{ form.active.help_text }}</small>
                          {% endif %}

                        </div>


                      </div>
                    </div> <!-- info -->
                  </div>

                {% include 'partials/form_buttons.html' with form=form %}
              </div>
            </div>
            
          </form>

    </div>


</div>




{% endblock %}

{% block scripts %}
<script>
  'use strict';
  (function(w,d,$){
    $(d).ready(function(){

      $("#id_account_type").select2({
        ajax: {
          url: '/projects/get_sb_accounttypes_data/',
          data: function (params) {
            var query = {
              search: params.term,
              type: 'public'
            }
            // Query parameters will be ?search=[term]&type=public
            return query;
          }
        }
      });
  
      $("#id_project").select2({
        ajax: {
          url: '/projects/get_sb_projects_data/',
          data: function (params) {
            var query = {
              search: params.term,
              type: 'public'
            }
            // Query parameters will be ?search=[term]&type=public
            return query;
          }
        }
      });
    }) /* document ready */
  })(window,document,jQuery)
</script>
{% endblock scripts %}